  <!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TodoList</h1>
  </body>
  <form>
    <p>タイトル<br>
      <input class="js-addTask-value" type="text" />
    <p>内容<br>
      <textarea name="comment" cols="30" rows="5"></textarea></p>
    <button class="js-addTask-trigger" type="button">タスクを登録する</button>
  </form>
</html>