<html>
  <head>
    <title>TodoList</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TodoList</h1>
  </body>
  <div class="wrapper">
    <ul class="main-task">
      <% taskList.forEach(function(taskItem) { %>
          <li class="main-list__task">
              <div class="task">
                  <p class="task__title"><%= taskItem.title %></p>
                  <p class="task__content"><%= taskItem.content %></p>
                  <form action="/todo" method="post">
                    <input type="hidden" name="id" value="<%= taskItem.id %>">
                    <button type="submit" name="button">削除</button>
                  </form>
              </div>
          </li>
      <% }); %>
  </ul>
</div>
</html>